<head>
	<link rel="stylesheet" type="text/css" href="application.css">
</head>

<body>
	

	<div class="containercenter" id="centersmall">

		<form action="/students" method="post">
		  <label for="username">Username:</label>
		  <input type="text" id="username" name="student[username]">

		  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

		  <input class="button" type="submit" value="submit">
		</form>

	</div>
</body>