<head>
<!-- 	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.2.3/css/foundation.min.css"> -->
	<link rel="stylesheet" href="application.css">
	
</head>

<body>

  <header class="clearfix">
  <div class="row">
    <div  class="large-2 columns logo">
      <img id="ourlogo" src="http://38.media.tumblr.com/4a0b624546d6dd56d1aafc3c855c8ea0/tumblr_n9dultZpLm1qdk1mqo1_400.jpg"/> 
    </div>

  </div>
</header>




<div id="welcome">
	<div class="row">
			<div class="column large-6 small-6 large-centered small-centered">
				<h3>Welcome to Feedback Now </h3><br>

				<div class="column small-centered large-centered small-10 large-10">
					<a class="button" href="login">Login</a>

					<a class= "button" href="signup">Sign Up</a>
				</div>
			</div>
	</div>
</div>




<div class="footer" id="footerpadding">
   <div class="large-12 columns">
     <hr>
     <div class="row">
       <div class="large-3 columns">
         <a href="/about"><strong>ABOUT</strong></a>
       </div>
       <div class="large-3 columns">
         <a href="#"><strong>FEATURES</strong></a>
       </div>
       <div class="large-3 columns">
          <a href="#"><strong>CONTACT</strong></a>
       </div>
       <div class="large-3 columns">
          <a href="#"><strong>PARTNER WITH US</strong></a>
       </div>
     </div>
   </div>
 </footer>


</body>


<script src="./js/jquery.js"></script>
   <script src="./js/foundation.min.js"></script>
   <script>
     $(document).foundation();
  </script>
  <script src="js/foundation.orbit.js"></script>

  <script type="text/javascript" src="/js/vendor/jquery.min.js"></script>
     <script type="text/javascript" src="/js/vendor/jquery-2.1.0.min.js"></script>
     <!-- <script type="text/javascript" src="slick/slick.min.js"></script> -->
     <script type="text/javascript" src="/js/vendor/foundation.min.js"></script>
     <script type="text/javascript" src="/js/vendor/foundation.init.js"></script>

     <script type="text/javascript" src="/js/business-logic.js"></script>
     <script type="text/javascript" src="/js/presenter.js"></script>


