<head>

	<link rel="stylesheet" href="application.css">
	<link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>

</head>

<body>

  <header class="clearfix">
  <div class="row">
    <div  class="large-2 columns logo">
      <img id="ourlogo" src="http://38.media.tumblr.com/4a0b624546d6dd56d1aafc3c855c8ea0/tumblr_n9dultZpLm1qdk1mqo1_400.jpg"/> 
    </div>

  </div>
</header>




<div id="loginpage">
		Teacher Login<br>
		<form action=<%= "/teachers/signin" %> method="post">

		  <label for="username">Username:</label>
		  <input type="text" id="username" name="teacher[username]">

		  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

		  <input class="button" type="submit" value="submit">
		</form>

		<br><br>

		Student Login
		<form action=<%= "/students/signin" %> method="post">

		  <label for="username">Username:</label>
		  <input type="text" id="username" name="student[username]">


		  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

		  <input class="button" type="submit" value="submit">
		</form>
</div>

</body>








<div class="footer" id="footerpadding">
   <div class="large-12 columns">
     <hr>
     <div class="row">
       <div class="large-3 columns">
         <a href="#"><strong>ABOUT</strong></a>
       </div>
       <div class="large-3 columns">
         <a href="#"><strong>FEATURES</strong></a>
       </div>
       <div class="large-3 columns">
          <a href="#"><strong>CONTACT</strong></a>
       </div>
       <div class="large-3 columns">
          <a href="#"><strong>PARTNER WITH US</strong></a>
       </div>
     </div>
   </div>
 </footer>