<head>

	<link rel="stylesheet" href="application.css">
	<link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>

</head>

<div id="loginpage">
		Teacher Login<br>
		<form action=<%= "/teachers/signin" %> method="post">

		  <label for="username">Username:</label>
		  <input type="text" id="username" name="teacher[username]">

		  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

		  <input class="button" type="submit" value="submit">
		</form>

		<br><br>

		Student Login
		<form action=<%= "/students/signin" %> method="post">

		  <label for="username">Username:</label>
		  <input type="text" id="username" name="student[username]">


		  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

		  <input class="button" type="submit" value="submit">
		</form>
</div>
