<head>
	<link rel="stylesheet" type="text/css" href="application.css">
</head>

<body>

<div class="containercenter">
	
<h3>Sign Up Here<br> <h3>

<a class="button" href="/teachers/new">If you're a teacher</a>

<br><br>

<h3>Sign Up Here<br> <h3>

<a class="button" href="/students/new">If you're a student</a>



</div>

</body>
