<head>
	<link rel="stylesheet" type="text/css" href="application.css">
</head>

<body>

<div class="container">
	
Teacher Sign Up<br>

<a href="/teachers/new">If you're a teacher</a>

<br><br>

Student Sign Up<br>

<a href="/students/new">If you're a student</a>



</div>

</body>
