<form action="/teachers/:username" method="post">
  <label for="username">Username:</label>
  <input type="text" id="username" name="teacher[username]">

  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

  <input type="submit" value="submit">
</form>
